{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'phoenix/bootstrap.min.css'%}" rel="stylesheet">
    <title>{% block title %}BLOCK TITLE{% endblock %}</title>
</head>

<body>
    <header class="bg-primary p-5">
        <div class="container">
            {% if user.is_anonymous %}
            <div class="float-end"><a href="{% url "login" %}" class="text-body">Login</a></div>
            {% else %}
            <div class="float-end">
                {{user.get_full_name}}
                |
                <a href="{% url 'coaching:courses' %}" class="text-body">Cours</a>
                |
                <a href="{% url "coaching:dashboard" %}" class="text-body">Dashboard</a>
                |
                <a href="{% url "logout" %}" class="text-body">Logout</a>
            </div>
            {% endif %}
            <div class="fs-1"><a href="{% url "coaching:home" %}" class="text-body text-decoration-none">Phoenix site</a></div>
        </div>
    </header>
    <div class="container p-5">
        {% block content %}BLOCK CONTENT{% endblock %}
    </div>
    <footer class="bg-primary text-center p-3">
        {% block footer %}{% endblock %}
        <div class="container">Site réalisé par Sébastien</div>
    </footer>

    <script src="{% static 'phoenix/bootstrap.bundle.min.js' %}"></script>

</body>

</html>