{% extends "phoenix/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Mes informations</div>
    <div class="card-body">
      <h5 class="card-title">{{user.get_full_name}}</h5>
      <p class="card-text">
          <strong class="text-primary">Courriel</strong> : {{user.email}}
        </p>
        <p class="card-text">
           {{user.profile.curriculum}}
        </p>
    </div>
</div>
<div class="card">
    <div class="card-header">Mes prochaines séances</div>
    <div class="card-body">
      {% for session in next_sessions %}
      <div class="card-text pb-3">
        {{session}}
        <form class="d-inline-block" method="POST" action="{% url 'coaching:inscription' %}">
          {% csrf_token %}
          <input type="hidden" name="session_id" value="{{ session.id }}">
          <button type="submit" name="delete" class="btn btn-primary text-white">Se désinscrire</button>
        </form>
      </div>
      {% endfor %}
    </div>
</div>
<div class="card">
  <div class="card-header">Mes prochaines inscriptions</div>
  <div class="card-body">
    {% for inscription in next_inscriptions %}
    <div class="card-text pb-3">
      {{inscription}}
      <a href="{% url 'coaching:delete-inscription' inscription.id %}" class="btn btn-primary text-white">
        Se désinscrire (avec sécurité)
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}